*{
    margin: 0;
    padding: 0;
}
body{
    background: #3a577e url(../img/Textura-de-las-hojas.jpg) repeat;
        
}
nav{
    background: #0452b8;
}


  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
  }
  
  a:hover {
    background-color: rgb(38, 6, 182);
    color: rgb(255, 255, 255);
  }
  
   h4{
    color: rgb(255, 255, 255);
  }
  
  .round {
    border-radius: 50%;
  }

  .carousel-item h3{
  color: rgb(0, 0, 0);
background: rgba(255, 255, 255, 0.616);
}
.carousel-item  h4{
  background: rgba(25, 54, 182, 0.753);
  color: rgb(255, 255, 255);
}

.figure figcaption{
color: rgb(62, 207, 74);

}

.dropdown-menu{
background: #f8fc27;

}
